.headerWrapper {
    padding-block-start: 8rem;

}

.headerStyle {
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 4.4rem;
    color: #574D90;
    margin-block-end: 1.8rem;

    @media screen and (max-width: 280px) {
        font-size: 2.6rem;
    }
}

.pStyle {
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.5rem;
    color: #011C34;

    @media screen and (max-width: 280px) {
        font-size: 1.5rem;
    }
}
// .headingMain{
//     display: flex;
//     justify-content: center;
// }