.input {
    display: inline-block;
    // width: min(640px, 100%); //for responsive input
    //txt style
    border-radius: 0.8rem;
    border: 0.2rem solid var(--white, #FFF);
    background: var(--white, #FFF);
    //txt placeholder
    padding-block: 1.7rem;
    padding-inline: 1.6rem;
    color: var(color-text);

    display: flex;
    width: 60rem;
    height: 6.4rem;


}

.input::placeholder {
    color: #A89E95;
    font-family: Montserrat;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;

}

.position {
    display: flex;
    align-items: center;
    gap: 3.2rem;
    margin-bottom: 3.2rem;
}