.section {
	max-width: 70rem;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	padding: 5.75rem 6.5rem 8.5625rem 6.5rem;
	justify-content: center;
	align-items: center;
	margin-inline: auto;
}

.article {}

.heading {
	display: flex;
	align-items: center;
	gap: 0.75rem;
	/*space between welcome image and message;*/
	/*this makes image and text to be on same line*/
	color: #574d90;
	font-family: Montserrat;
	font-size: 2.25rem;
	/*font-style: normal;*/
	font-weight: 700;
	line-height: 2.75rem;
	/* 122.222% */
	margin-block-end: 1rem;
	/* space btw text up and down */
}

.welcomeicon {
	/* Icon height and width */
	width: 3.48213rem;
	height: 3.75rem;
}

.nairaicon {
	width: 1.33331rem;
	height: 1.25rem;
}

.para {
	color: #011602;
	text-align: center;
	font-family: Montserrat;
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 400;
	line-height: 2.75rem;
	/* 220% */
	margin-block-end: 1rem;
}

.para2 {
	display: flex;
	width: 34.8125rem;
	justify-content: center;
	align-items: center;
}

.fee {
	display: flex;
	align-items: center;
	color: #011602;
	text-align: center;
	font-feature-settings: 'clig' off, 'liga' off;
	font-size: 1.5rem;
	font-weight: 700;
	letter-spacing: -0.015rem;
	gap: 0.8rem;
}

.amount {
	color: #574d90;
	text-align: center;
	font-feature-settings: 'clig' off, 'liga' off;
	font-family: Montserrat;
	font-size: 1.5rem;
	font-weight: 700;
	letter-spacing: -0.015rem;
}

.arrow {
	height: 1.25rem;
	flex-shrink: 0;
}

.ctndb {
	color: #574d90;
	font-family: Montserrat;
	font-size: 1rem;
	font-style: normal;
	font-weight: 700;
	line-height: 2.5rem;
	position: relative;

	// width and height of the pseudo element is what gives the line property
	&::before {
		content: '';
		bottom: 0;
		left: 0.8rem;
		position: absolute;
		width: 90%;
		height: 0.125rem;
		background-color: #11643c;
	}
}

.btn {
	display: flex;
	gap: 1.25rem;
	align-items: center;
	height: 3.5rem;
	padding: 0.5rem 8.71875rem;

	border-radius: 0.25rem;
	background: #574d90;

	margin-block-start: 3.75rem;
	margin-block-end: 1rem;

	/*Button Text */
	color: #fff;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 700;

	outline: none;
	cursor: pointer;
	border: none;
}