// .section {
// 	max-width: 70rem;
// 	background-color: #fff;
// 	display: flex;
// 	flex-direction: column;
// 	padding: 5.75rem 6.5rem 8.5625rem 6.5rem;
// 	justify-content: center;
// 	align-items: center;
// 	margin-inline: auto;
// }


// .heading {
// 	display: flex;
// 	align-items: center;
// 	gap: 1.2rem;
// 	color: #574d90;
// 	font-family: Montserrat;
// 	font-size: 3.6rem;
// 	font-weight: 700;
// 	margin-block-end: 2.4rem;
// }

// .welcomeIcon {
// 	width: 3.5.6rem;
// 	height: 6rem;
// }

// .para {
// 	color: #011602;
// 	text-align: center;
// 	font-family: Montserrat;
// 	font-size: 2.4rem;
// 	font-style: normal;
// 	font-weight: 400;
// 	line-height: 4.4rem;
// 	margin-block-end: 1.2em;
// }

// .btn {
// 	height: 5.6rem;
// 	padding: 0.8rem 13.95rem;
// 	border-radius: 0.4rem;
// 	background: #574d90;
// 	color: #fff;
// 	font-size: 1.6rem;
// 	font-weight: 700;
// 	outline: none;
// 	cursor: pointer;
// 	border: none;
// }




.section {
	max-width: 112rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 9.2rem 10.4rem 13.7rem 10.4rem;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
}


.heading {
	display: flex;
    align-items: center;
    gap: 1.2rem;
    color: #574d90;
    font-family: Montserrat;
    font-size: 3.6rem;
    font-weight: 700;
    margin-block-end: 2.4rem;
}

.welcomeIcon {
	width: 3.48213rem;
	height: 3.75rem;
}

.para {
    color: #011602;
    text-align: center;
    font-family: Montserrat;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 4.4rem;
    margin-block-end: 12rem;
}

.btn {
    height: 5.6rem;
    padding: 0.8rem 13.95rem;
    border-radius: 0.4rem;
    background: #574d90;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 700;
    outline: none;
    cursor: pointer;
    border: none;
}
