.main {
    /*margin-block-start: 63px;
    margin-block-end: 95px;*/
    padding-block: 6.3rem 9.5rem;
<<<<<<< HEAD
    padding-inline: 22rem; //main form from side
=======
    padding-inline: 2.20rem; //main form from side
>>>>>>> 03ec77d06edc1f9ae7b49274c200f29970d422ec
    //background-color: orange;
}

.ecclipseLeft {
    position: fixed;
    left: 0;
    top: 13.1rem;
    z-index: -1;
}

.ecclipseRight {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.heading {
    color: var(--yellow-black, #302711);
    font-family: Montserrat;
    font-size: 6.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin-block-end: 2rem;
}

.subheading {
    color: var(--yellow-black, #302711);
    font-family: Montserrat;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-block-end: 5rem;
}

.layout {
    position: relative;
    z-index: 1;
    isolation: isolate;
}