.form {
	background: #e1ddfc;
	padding-block: 7.8rem; //vert dist between textbox
	padding-inline: 18rem; // dist between txt and wall sideways
	display: flex;
	flex-direction: column;
	// gap: 28px; //space btw text control
	align-items: center;
}

.inputSection {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 2.8rem; //space btw text control
	align-items: center;
	margin-block-end: 6.4rem;
}

.btn {
	margin-block-end: 1.6rem;
}

.para {
	color: #011c34;
	font-family: Montserrat;
	font-size: 2rem;
	font-style: normal;
}

.span {
	color: #e24f6d;
	font-family: Montserrat;
	font-size: 2rem;
	font-style: normal;
	font-weight: 700;
}