.button {
	border-radius: 0.4rem;
	background-color: #574d90;
	display: flex;
	width: min(64rem, 100%);
	// width: 640px;
	//height: 56px;
	padding: 0.8rem 1.4rem;
	justify-content: center;
	align-items: center;
	margin-block: 4rem;
	//gap: 16px;
	//text in button
	color: #fff;
	font-family: Montserrat;
	font-size: 2rem;
	font-style: normal;
	font-weight: 700;
	border: none;
	outline: 0;
	// line-height: 30px;
	/* 150% */
	height: 5.6rem;
	// padding: 8px 24px;
	// justify-content: center;
	// align-items: center;
	// gap: 16px;
}

.button:disabled {
	filter: brightness(85%);
}