.hamburgerStyle {
  color: #ffff !important;
  width: 4rem;
  height: 8rem;
  margin-inline-start: 2rem;
  padding: 0 !important;
}

.hamburgerStyle svg path {
  fill: currentColor;
}

.header {
  display: flex;
  align-items: center;
  gap: 1.183rem;
  height: 6rem;
  justify-content: space-between;
  background-color: #ada7d0;
  padding: 1.8rem;
  width: 100% !important;
  border-radius: 0.8rem;
}

.group {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.groups {
  display: flex;
  align-items: center;
  gap: 19rem;
  flex-direction: row;
  justify-content: space-between;
  @media (width: 912px) {
    gap: 6rem;
  }
}

.button {
  min-width: 0;
  padding: 0px !important;
  cursor: pointer;
  &:hover {
    background-color: transparent !important;
  }
}
.date {
  font-size: 1.5rem;
  @media (width: 912px) {
    margin-inline-start: 17rem;
  }
}
.dates {
    font-size: 1.5rem;
    @media (max-width: 480px) {
    display: none;
    }
  }

@media (max-width: 480px) {
  .date {
    display: none;
  }
}

.notificationheader {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  padding-inline-start: 2rem;
  color: #11643c;
}

.notificationmessage {
  font-size: 1.5rem;
  // line-height: 23px;
  color: #011c34;
  font-family: "Poppins", sans-serif !important;
  white-space: wrap;
  // width: 100%;

  @media screen and (max-width: 480px) {
    font-size: 1.2rem;
    // white-space: wrap;
    text-wrap: wrap;
  }
}

.printButton {
  height: 5.2rem;
  background-color: #11643c;
  border: 0.1rem solid #11643c;

  border-radius: 0.4rem;
  padding-inline: 0.6rem;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;

  @media (max-width: 767px) {
    width: 10rem;
  }

  &:active {
    background-color: #11643c;
    border: 0.1rem solid #11643c;
  }

  &:focus {
    background-color: #11643c;
    border: 0.1rem solid #11643c;
  }
  &:disabled {
    background-color: #cbced2;
    border: 0.1rem solid #cbced2;
  }
}
.gab {
  display: flex;
  justify-content: space-between;
  // margin: -7rem;
  width: 100%;
  @media (min-width: 1024px) {
    margin: -7rem !important;
  }
  @media (max-width: 540px) {
    display: none !important;
  }
}
