.main{
	display: flex;
	justify-content: center;
    width: 100% ;
}
.inputSection {
	width: 90%  ;
    padding-block: 5rem;
    background-color: #EDEBF8;
    // padding: 2rem;
}
.chart {
	width: 80%  ;
    // padding-block: 5rem;
    // background-color: red !important;
    // padding: 2rem;
    fill: black !important;
    color: #E24F6D !important;
    
}
.chrt{
  color: #E24F6D;
  background-color: #E24F6D !important;
}
.circleSection{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-block-start: 3.3rem;
	// justify-content: end;
  @media (max-width:912px){
    display: block;
    
}
    @media (max-width: 540px){
        display: block;
    }
}
.status{
	display: flex;
	justify-content: space-around;
  // gap: 6rem;
    @media (max-width: 540px){
        display: block;
    }
    @media (width: 912px){
      display: block;
  }
  @media (width: 1024px){
    // gap: 4rem;
}
}
.span{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-block-start: 3.3rem;
}

.ellipse{
max-width: 11em;
max-height: 20rem;
margin-inline-start: 2rem;
}
.circle{
  font-weight: 500;
  justify-content: center;
  align-items: center; 
  display: flex;
  position: absolute;
  font-size: 3rem;
  color: #FFFFFF;
    
    @media (min-width: 1024px){
	// left:40.5rem

    }

}
.wrapper{
    display: flex;
    justify-content: start;
    width: 90%;
    gap: 2rem;
    // padding: 1rem;

    @media (max-width: 540px){
        display: block;
    }
    
}
.guide{
	display: flex;
	justify-content: center;
    // width: 100%;
    align-items: center; 
}
// .card{

//     // width: 100%;
//     padding: 1rem 3rem 3rem 1rem;
//     font-size: 1.6rem;
//     font-weight: 400;
//     line-height: 2.4rem;
// }
.card{
  // padding: 1rem;
  background-color: #EDEBF8;
  // border-bottom: #EA7089 solid 2px;
  // // border-top: #FFFFFF solid 2px;
  // border-bottom-right-radius: 2rem;
  // border-bottom-left-radius: 2rem;
  border-radius: 1rem;
  // margin: 4rem;
  max-width: 47rem;
  // padding: 1rem 3rem 3rem 1rem;
  font-size: 1.6rem;
  font-weight: 400;
  // line-height: 2.4rem;
  @media (max-width: 540px){
      display: block;
  }
}
.button {
	// display: flex;
	// justify-content: start !important;
	// padding-inline: 13rem;
	// margin-bottom: 16px;
    // margin-block-start: 10rem;
	font-family: Montserrat !important;
	margin-block-start: 10rem ;
	// max-width: 20rem ;
  // background-color: #EDEBF8;
  color: #E24F6D;
  font-size: 1em !important;
  font-weight: 700;
  cursor: pointer;
  display: flex;
    // justify-items: center;
    align-items: center;
    @media (max-width: 912px){
      margin-block-start: 2rem ;	
     }	

    @media (max-width: 540px){
      margin-block-start: 1rem ;	
     }	

	@media (max-width: 280px){
		max-width: 25rem !important;
    margin-block-start: 1rem ;	
	 }	
  }
  .btn{
    margin-block: 0rem;

  }


  .rec{
    width: 100% ;
    background-color: #EDEBF8;
    padding: 5rem; 
    margin-block-end: 2rem;
  }
  .rec2{
    width: 100%;
    background-color: #EDEBF8;
    // padding: 2rem; 
    margin-block-end: 2rem;
  }

  .app{
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
    padding-inline-start: 2rem;
    padding-block-start: 2rem;

  }
  .backicon {
    cursor: pointer;
    // margin-inline-end:-1rem ;
    // display:flex ;
  }
  